@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
body,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: white;
  overflow-x: hidden !important;
}
body#index--page {
  color: black;
}
body#index--page .header-1,
body#index--page .sub-header,
body#index--page .display-3 {
  font-weight: 300;
}
@media screen and (max-width: 576px) {
  body#index--page .header-1.newx-header-40 {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 0) {
  body#index--page .header-1.newx-header-40 {
    font-size: 40px !important;
  }
}
body#index--page #navbar {
  background-color: transparent !important;
  color: #B9B9B9 !important;
  border-color: transparent !important;
}
body#index--page #navbar .nav-item {
  margin: 0 0.5rem 0 0.5rem;
}
body#index--page #navbar .nav-link {
  color: #B9B9B9 !important;
  font-size: 14px;
  padding-top: 15px;
}
body#index--page #navbar .nav-link.btn {
  color: black !important;
  padding: 0.2rem 1rem 0.2rem 1rem !important;
}
body#index--page .accordion-button,
body#index--page .accordion-body {
  font-size: 22px;
}
body#index--page .accordion-body {
  font-weight: 300;
}
body footer {
  padding-right: 7.5%;
  padding-left: 7.5%;
}
@media screen and (max-width: 768px) {
  body footer {
    padding-right: 0;
    padding-left: 0;
  }
}
body.dashboard-area-pages nav.navbar .nav-item {
  width: auto;
}
.header-1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: -0.114864px;
  color: #1D1D1D;
}
.header-3 {
  font-size: 34px;
}
.header-2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: -0.114864px;
  color: #1D1D1D;
}
.sub-header {
  font-size: 20px;
  font-weight: 400;
  color: #1D1D1D;
}
.sub-header span {
  color: #4581FF;
}
.newx-header {
  font-size: 36px;
}
.newx-header a {
  text-decoration: underline;
}
.newx-header-20 {
  font-size: 20px;
  font-weight: 300;
  word-break: break-word;
  color: #707070;
}
.newx-header-20 a {
  text-decoration: underline;
}
.newx-header-16 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}
.newx-header-16 a {
  text-decoration: underline;
}
#common-questions .accordion-item {
  background-color: white;
  border: 0;
}
#common-questions .accordion-button {
  background-color: white;
}
#main-hero,
#sub-hero {
  background: #000019;
  background: -moz-linear-gradient(180deg, #000019 7%, #585e91 82%, #786a97 100%);
  background: -webkit-linear-gradient(180deg, #000019 7%, #585e91 82%, #786a97 100%);
  background: linear-gradient(180deg, #000019 7%, #585e91 82%, #786a97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000019", endColorstr="#786a97", GradientType=1);
}
#main-hero #main-landing-section-1 .display-1,
#sub-hero #main-landing-section-1 .display-1,
#main-hero #main-landing-section-1 .sub-header,
#sub-hero #main-landing-section-1 .sub-header {
  color: white;
}
#main-hero #home-1,
#sub-hero #home-1 {
  background-image: url(/_content/Alinor.domain/alinor/landing/backgrounds/1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
}
@media screen and (max-width: 1400px) {
  #main-hero #home-1,
  #sub-hero #home-1 {
    height: 70vh;
  }
}
@media screen and (max-width: 1200px) {
  #main-hero #home-1,
  #sub-hero #home-1 {
    height: 60vh;
  }
}
@media screen and (max-width: 992px) {
  #main-hero #home-1,
  #sub-hero #home-1 {
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  #main-hero #home-1,
  #sub-hero #home-1 {
    background-position: center;
    height: 50vh;
  }
}
@media screen and (max-width: 576px) {
  #main-hero #home-1,
  #sub-hero #home-1 {
    background-position: center;
    height: 25vh;
  }
}
@media screen and (max-width: 0) {
  #main-hero #home-1,
  #sub-hero #home-1 {
    background-position: center;
    height: 25vh;
  }
}
#main-hero #home-logos img,
#sub-hero #home-logos img {
  margin-top: 40px;
  width: 150px;
  height: 40px;
}
#navbar-container {
  margin: 0 1rem 0 1rem;
}
nav.navbar {
  background-color: white !important;
  padding-right: 7.5%;
  padding-left: 7.5%;
}
@media screen and (max-width: 768px) {
  nav.navbar {
    padding-right: 0;
    padding-left: 0;
  }
}
nav.navbar .nav-item {
  width: max-content;
}
nav.navbar .nav-item a.nav-link:not(.btn) {
  color: #686868 !important;
}
#land-body {
  background: #ffffff;
  background: -moz-linear-gradient(90deg, #ffffff 0%, #aabdff 100%);
  background: -webkit-linear-gradient(90deg, #ffffff 0%, #aabdff 100%);
  background: linear-gradient(90deg, #ffffff 0%, #aabdff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#aabdff", GradientType=1);
}
#land-pink {
  background: #fe8dc6;
  background: -moz-linear-gradient(90deg, #fe8dc6 0%, #85e2ff 100%);
  background: -webkit-linear-gradient(90deg, #fe8dc6 0%, #85e2ff 100%);
  background: linear-gradient(90deg, #fe8dc6 0%, #85e2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe8dc6", endColorstr="#85e2ff", GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#land-purple {
  background: -moz-linear-gradient(270deg, #00001a 0%, #585e91 59%, #a87ca1 100%);
  background: -webkit-linear-gradient(270deg, #00001a 0%, #585e91 59%, #a87ca1 100%);
  background: linear-gradient(270deg, #00001a 0%, #585e91 59%, #a87ca1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 26px;
  font-weight: 300;
}
@media screen and (max-width: 576px) {
  #main-hero,
  #sub-hero,
  #second-hero,
  #final-hero {
    padding-left: 3.5% !important;
    padding-right: 3.5% !important;
  }
}
@media screen and (max-width: 0) {
  #main-hero,
  #sub-hero,
  #second-hero,
  #final-hero {
    padding-left: 3.5% !important;
    padding-right: 3.5% !important;
  }
}
#second-hero {
  background-color: white;
  color: black;
}
#home-landing-section-2 {
  background-image: url(/_content/Alinor.domain/alinor/landing/backgrounds/2.png);
  background-position: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  #home-landing-section-2 {
    background-position: center;
    height: 50vh;
  }
}
@media screen and (max-width: 576px) {
  #home-landing-section-2 {
    height: 33vh;
  }
}
@media screen and (max-width: 0) {
  #home-landing-section-2 {
    height: 33vh;
  }
}
#home-landing-section-3 {
  background-image: url(/_content/Alinor.domain/alinor/landing/backgrounds/3.png);
  background-position: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  #home-landing-section-3 {
    background-position: center;
    height: 50vh;
  }
}
@media screen and (max-width: 576px) {
  #home-landing-section-3 {
    height: 41vh;
  }
}
@media screen and (max-width: 0) {
  #home-landing-section-3 {
    height: 41vh;
  }
}
#home-landing-section-4 {
  background-image: url(/_content/Alinor.domain/alinor/landing/backgrounds/4.png);
  background-position: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  #home-landing-section-4 {
    background-position: center;
    height: 50vh;
  }
}
@media screen and (max-width: 576px) {
  #home-landing-section-4 {
    height: 40vh;
  }
}
@media screen and (max-width: 0) {
  #home-landing-section-4 {
    height: 40vh;
  }
}
.hot-pink {
  color: #c7a6d2;
}
.not-hot-pink {
  color: #b3a8de;
}
.deep-purple {
  color: #585e90;
  font-weight: 400;
  font-size: 20px;
}
.deep-purple.svg-17w {
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  fill: #585e90;
}
#for-eric {
  border-left: 2px solid #c7c7c7;
  position: relative;
}
@media screen and (max-width: 576px) {
  #for-eric {
    border-left: none;
  }
}
@media screen and (max-width: 0) {
  #for-eric {
    border-left: none;
  }
}
#for-eric .number-left {
  position: absolute;
  left: -50px;
  color: #aeaeae;
  font-weight: 300;
  font-size: 45px;
}
@media screen and (max-width: 768px) {
  #for-eric .number-left {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  #for-eric .number-left {
    display: none;
  }
}
@media screen and (max-width: 0) {
  #for-eric .number-left {
    display: none;
  }
}